.toolbar {
    background-color: rgb(142, 21, 186);
    height: 10%;
}

.font {
    color: white !important;
    font-size: 50px;
}

.search-spacing {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.space-above {
    padding-top: 1.5%;
}

.space-left {
    padding-left: 1%;
}

.icon-space {
    padding-left: 1%;
}

.input {
    width: 100%;
}

.full-width {
    width: 325px;
}

.icon {
    color: rgb(142, 21, 186);
    transform: scale(2);
}

.icon:hover {
    cursor: pointer;
    color: rgb(194, 126, 219); 
}

.icon-toolbar {
    color: white !important;
}

