<html>
  <body>
    <!-- The toolbar should not be within the router outlet so that when we start adding routes later, the toolbar will always be here. This is another example of a component I would break out into the components folder -->
    <mat-toolbar class="toolbar">
      <div class="font">Poetry Database</div>
      <button mat-icon-button>
        <mat-icon class="icon-toolbar">github</mat-icon>
      </button>
    </mat-toolbar>
    <!-- This app is small enough that we don't have an routes hooked up, but that is what this router outlet is for -->
    <router-outlet>
      <!-- For scalability, the search and the results would be broken out into separate components in the components folder -->
      <!-- For now, they're going to live here together in the top level component. -->
      <!-- SEARCH POETRY FEATURE -->
      <div>
        <form
        [formGroup]="requestPoetryForm">
          <div class="search-spacing space-above">
            <div class="space-left">
              <mat-form-field>
                <mat-label class="content-text">Select search type</mat-label>
                <mat-select 
                formControlName="byTitleOrAuthor"
                (selectionChange)="switchInputLabel($event.value)">
                  <mat-option
                  *ngFor="let type of searchTypes | keyvalue"
                  [value]="type.value"
                  class="content-text"
                  >
                  {{ type.value }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="full-width space-left">
              <mat-form-field class="input">
                <mat-label class="content-text">{{ label }}</mat-label>
                <input 
                  matInput
                  type="text"
                  formControlName="inputRequest"
                />
              </mat-form-field>
            </div>
            <div class="full-width space-left"
            *ngIf="extraParams">
              <mat-form-field class="input">
                <mat-label class="content-text">Title Name</mat-label>
                <input 
                  matInput
                  type="text"
                  formControlName="additionalInfo"
                />
              </mat-form-field>
            </div>
            <div class="space-left below">
              <button 
              mat-raised-button 
              class="btn-size content-text"
              (click)="getPoetry()">Search</button>
            </div>
          </div>
        </form>
        
      </div>

      <!-- POETRY RESULTS FEATURE -->
      <!-- This is an expandable card that generates dynamically based on the results from the API. There are enough results that I would want to look into pagination or other ways to render this much data, like a data grid -->
      <div *ngIf="!doNotRenderCards">
        <div *ngFor="let result of results">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="content-text header-size">
                {{ result.title }} by {{ result.author }}
              </mat-expansion-panel-header>
              <div 
                *ngFor="let line of result.lines"
                class="content-text line-size"> 
                {{ line }} 
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div 
      *ngIf="doNotRenderCards"
      class="content-text headersize space-left">
        You have forgotten to fill out an input, please remedy this and search again!
      </div>

    </router-outlet>
  </body> 
</html>