<router-outlet>
  <form
  [formGroup]="requestPoetryForm">
    <div>
      <mat-form-field>
        <mat-label>Select search type</mat-label>
        <mat-select formControlName="byTitleOrAuthor">
          <mat-option
          *ngFor="let type of searchTypes | keyvalue"
          [value]="type.value">
          {{ type.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>What poem or author you like to search for?</mat-label>
        <input 
          matInput
          type="text"
          formControlName="inputRequest"
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button (click)="getPoetry()">Search</button>
    </div>
  </form>

</router-outlet>
