@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script&family=Overpass:ital,wght@1,100&display=swap');

.toolbar {
    background-color: rgb(142, 21, 186);
    height: 10%;
}

.font {
    color: white !important;
    font-size: 50px;
    font-family: 'Abel', sans-serif;
}

.content-text {
    font-family: 'Abel', sans-serif;
}

.header-size {
    font-size: 20px;
}

.line-size {
    font-size: 18px;
}

.search-spacing {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.space-above {
    padding-top: 1%;
}

.space-left {
    padding-left: 1%;
}

.icon-space {
    padding-left: 1.25%;
    padding-bottom: .5%;
}

.input {
    width: 100%;
}

.full-width {
    width: 325px;
}

.icon {
    color: rgb(142, 21, 186);
    transform: scale(2);
}

.icon:hover {
    cursor: pointer;
    color: rgb(194, 126, 219); 
}

.btn-size {
    height: 55px;
    width: 110px;
    font-size: 20px !important;
}
